/* COLOR SCHEME
navbar color-#736F61
leaf logo color- #736939
green color- #707361
mauve color- #8C7365
*/

body {background-color: #F7F7F7;
	width: 90%; 
	margin: auto;

}

.container {
	padding: 10px 20px;

}

.logo { float: left;

}


.navbar-header {padding-top: 40px;
				font-size: 1.5em; 
				float: right;

}

a { color: #736F61;

}

a:hover,
a:focus {
  color: #736F61;
  text-decoration: none;
}

h1	{ margin: 0px;

}

h2	{font-size: 70px;
	padding-top: 225px;
	color: #fff;
	text-shadow: 0 0 15px #000;
	margin: auto;
	text-align: center;
	height: 100%;
}

#feature-text { width: 100%;

}



#feature-image {background-image: url("https://farm2.staticflickr.com/1125/754753208_d8ccab327d_o.jpg"); 
				background-position: 0px 0px;
				background-repeat: no-repeat;
				background-size: cover;
				overflow: visible;
				margin-right: -5.55%;
				margin-left: -5.55%;
				height: 540px;
}


footer	{ padding: 10px 20px; 

}

.social {float: right; margin: 0 10px;
}



/**********************************
OFFERINGS
***********************************/

a:link {
	color: #707361; text-decoration:none
}

.offerings-container {
	position: relative;
	margin-bottom: auto;
	float: center;
}

.tabs {
	position: relative;
	min-height: 200px;
	clear: both;
}

.tab {
	float: left;
}

.tab label {
	background: #C6B2A7; /*will change to match color palette*/
	padding: 10px;
	border: 1px solid #5B3621;
	margin-left: -1px;
	position: relative;
	left: 1px;
	color: #5B3621;
	border-radius: 15px;
	font-size: 1.3em;
}

.tab [type=radio] {
  display: none; /*we don't want the radio buttons to actually show, so this hides them*/  
}

.content {
  font-size: 1.5em;
  position: absolute; /*this being set at absolute makes it difficult. need to change this, but when i do the tabs don't work anymore*/
  top: 37px;
  left: 0;
  background: white;
  right: 0;
  padding: 40px;
  border: 1px solid #5B3621;
  border-radius: 15px;
  border-top-left-radius: 0px;
  color: #713444;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2; /*This z-index must be bigger than the contents' z-index in order to get the look of a tab*/
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.pricing {
	position: relative;
	padding-top: 10px;
	text-align: center;
	width: 100%;
	color: #736F61;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	font-size: 1em;
}

hr {
	border-color: #736F61;
	width: 50%;
}

.pricing-title {
	padding: 15px;
}

.content { 
	width:100%;
	text-align: center;
	padding-bottom: 30px;
}

footer {
	margin-bottom: 0;
	padding-top: 10%;
	width: 100%;
}


/**********************************
LINKS
***********************************/

.resources {
	margin-top:10%;
}

.resources h1 {
	color: #DCD8CE;
	border-color: #736F61;
	background-color: #736F61;
	width: 100%;
	padding: 5px;
}

li {
	list-style-type: none;
	font-size: 1.5em;
}	

.resources a {
	color: #8C7365;
}

.resources a:hover,
.resources a:focus {
  	text-decoration: underline;
}


/**********************************
OFFERINGS
***********************************/

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active, 
open .dropdown-toggle.btn-primary{ background-color: black;


}
