/* COLOR SCHEME
navbar color-#736F61
leaf logo color- #736939
green color- #707361
mauve color- #8C7365
*/


body { width: 90%; margin: auto;

}

.container {padding: 10px 20px;

}

.logo { float: left;

}


.navbar-header {font-size: 1.5em; float: right;

}
a { color: #736F61;

}

a:hover,
a:focus {
  color: #736F61;
  text-decoration: underline;
}

h1	{ margin: 0px;

}

h2	{margin: auto;
	text-align: center;
	height: 100%;
}

#feature-text { width: 100%;

}



#feature-image {background-image: url("http://farm9.staticflickr.com/8333/8355560787_26f4ac9a95_o.jpg"); 
				background-position: 0px 0px;
				background-repeat: no-repeat;
				background-size: cover;
				overflow: visible;
				margin-right: -5.6%;
				margin-left: -5.6%;
				height: 500px;
}


footer	{ padding: 10px 20px; 

}

.social {float: right; margin: 0 10px;




/**********************************
OFFERINGS
***********************************/
a:link {
	color: white; text-decoration:none
}

a:visited {
	color: white; text-decoration:none
}

a:hover {
	opacity: 0.6;
}

.tabs {
	position: relative;
	min-height: 200px;
	clear: both;
	margin: 3% 35% 10% 3%;
}

.tab {
	float: left;
}

.tab label {
	background: #eee; /*will change to match color palette*/
	padding: 10px;
	border: 1px solid #ccc;
	margin-left: -1px;
	position: relative;
	left: 1px;
}

.tab [type=radio] {
  display: none; /*we don't want the radio buttons to actually show, so this hides them*/  
}

.content {
  font-size: 1.3em;
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  padding: 20px;
  border: 1px solid #ccc; /*Need to change once we have a color palette nailed down*/
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2; /*This z-index must be bigger than the contents' z-index in order to get the look of a tab*/
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.pricing-panel {
	border: 1px solid #689740;
	margin-top: 20px;
	border-radius: 15px;
	width: 70%;
	margin-left: 15%
}

.pricing-heading {
	position: relative;
	text-align: center;
	width: 100%;
	background-color: #d6e9c6; /*will update this color with the new color palette*/
	color: #689740;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.pricing-title {
	padding: 15px;
}

.panel-content { 
	width:100%;
	text-align: center;
	padding-bottom: 30px;
}

p {
	background-color: #689740;
	color: #white;
	border: 2px solid #d6e9c6;
	border-radius: 15px;
	border-radius: 15px;
	padding: 5px;
	margin-left: 5%;
	width: 25%;
	height: 10%;
	font-size: 1.3em;
	position: relative;
	text-align: center;
}



