.tabs {
	position: relative;
	min-height: 200px;
	clear: both;
	margin: 25px 0;
}

.tab {
	float: left;
}

.tab label {
	background: #eee; /*will change to match color palette*/
	padding: 10px;
	border: 1px solid #ccc;
	margin-left: -1px;
	position: relative;
	left: 1px;
}

.tab [type=radio] {
  display: none; /*we don't want the radio buttons to actually show, so this hides them*/  
}

.content {
  font-size: 1.3em;
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  padding: 20px;
  padding-bottom: 20%;
  border: 1px solid #ccc; /*Need to change once we have a color palette nailed down*/
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2; /*This z-index must be bigger than the contents' z-index in order to get the look of a tab*/
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.pricing-panel {
	border: 1px solid #689740;
	margin-top: 20px;
	border-radius: 15px;
	width: 55%;
}

.pricing-heading {
	position: relative;
	text-align: center;
	width: 100%;
	background-color: #d6e9c6; /*will update this color with the new color palette*/
	color: #689740;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.pricing-title {
	padding: 15px;
}

.panel-content { 
	width:100%;
	text-align: center;
	padding-bottom: 30px;
}

